body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

header {
    width: 100%;
    background-color: #2a4dff;
    color: white;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
    margin-right: 1rem;
    transition: opacity 0.3s ease;
}

.logo:hover {
    opacity: 0.9;
}

.nav-links a {
    margin: 0 1rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    padding: 0.3rem 0.6rem;
    transition: all 0.3s ease;
    border-radius: 6px;
}

.nav-links a:hover {
    background-color: rgba(176, 224, 248, 0.3);
    color: #ffffff;
}

.user-options {
    display: flex;
    align-items: center;
}

.user-options a, .username {
    margin-left: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}

.user-options a:hover, .username:hover {
    color: #b0e0f8;
}

/* Username styling (display:none by default until login) Idk if this will work */
.username {
    font-weight: bold;
    display: none;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.login-container h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #2a4dff;
    transition: background-color 0.3s ease;
    color: #fff;
    border: none;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #000764;
}

.sign-redirection {
    font-size: 0.75rem;
    text-align: center;
}